<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="content" th:remove="tag">
	<div class="row" id="divProductImages"> <!--divProductImages sẽ dùng để append các extraImages  -->
		<div class="col border m-3 p-2">
			<div><label>Main Image: [[${product.mainImage}]]</label></div>
			
			<div class="m-2">
				<img id="thumbnail" alt="Main image preview" class="img-fluid"
					th:src="@{${product.mainImagePath}}"/>
			</div>
			
			<div>
				<input type="file" id="fileImage" name="fileImage"
					th:required="${product.mainImage == null}"
					accept="image/png, image/jpeg" />
			</div>
			
			<input type="hidden" th:field="*{mainImage}" />
		</div>
		
		<!-- Ví dụ có 2 trường hợp xảy ra ở đây
		vd1: create =>ko hiển thị
		vd2: edit và đã save 3 extraImages trước đó =>load extraImage 0,1,2
		 -->
		<th:block th:each="productImage, status : ${product.images}">
			<div class="col border m-3 p-2" th:id="'divExtraImage' + ${status.index}">
				<div>
					<label>Extra Image #[[${status.index + 1}]]: [[${productImage.name}]]</label>
					<a name="linkRemoveExtraImage" 
						class="btn fas fa-times-circle fa-2x icon-dark float-right"
						title="Remove this image"></a>				
				</div>
				
				<div class="m-2">
					<img th:id="'extraThumbnail' + ${status.index}" 
						th:alt="'Extra image #' + ${status.index + 1} + ' preview'" class="img-fluid"
						th:src="@{${productImage.imagePath}}"/>
				</div>
				
				<div>
					<input type="file" name="extraImage" 
						accept="image/png, image/jpeg" /> <!-- name="extraImage" =>@RequestParam(value = "extraImage", required = false) MultipartFile[] extraImageMultiparts -->
				</div>
				
				<input type="hidden" name="imageIDs" th:id="'imageId' + ${status.index}"
					th:value="${productImage.id}" /> <!-- name="imageIDs" = @RequestParam(name = "imageIDs", required = false) String[] imageIDs -->
					
				<input type="hidden" name="imageNames" th:id="'imageName' + ${status.index}"
					th:value="${productImage.name}" /> <!-- name="imageNames" = @RequestParam(name = "imageNames", required = false) String[] imageNames -->
			</div>		
		</th:block>
		
		<!-- Ví dụ có 2 trường hợp xảy ra ở đây
		vd1: create =>${numberOfExistingExtraImages} = 0
		vd2: edit và đã save 3 extraImages trước đó =>${numberOfExistingExtraImages} = 3
		 -->
		<div class="col border m-3 p-2" th:id="'divExtraImage' + ${numberOfExistingExtraImages}">
			<div th:id="'extraImageHeader' + ${numberOfExistingExtraImages}"> <!-- extraImageHeader dùng để append link delete -->
				<label>Extra Image #[[${numberOfExistingExtraImages + 1}]]:</label>
			</div>
			
			<div class="m-2">
				<img th:id="'extraThumbnail' + ${numberOfExistingExtraImages}" 
					th:alt="'Extra image' + ${numberOfExistingExtraImages} + ' preview'" class="img-fluid"
					th:src="@{/images/image-thumbnail.png}"/>
			</div>
			
			<div>
				<input type="file" name="extraImage" 
					accept="image/png, image/jpeg" /> <!-- name="extraImage" =>@RequestParam(value = "extraImage", required = false) MultipartFile[] extraImageMultiparts  -->
			</div>
		</div>		
	</div>	
</div>		
</body>
</html>